*{
 /* border:1px solid black;*/
  box-sizing:border-box;
  font-size:0;
  font-family: Helvetica;
}

#container{
    width:100%;
    background:rgba(255,255,255,1);
}

.shirtCol{
    display:inline-block;
    width:30%;
    margin:1%;
}

/*positon relative for the sizes and colors pop up */
.purchaseBar{
    position: relative;
}

.shirtPic{
    border: 2px #59ABE3 solid;
    padding: 5%;
    border-bottom: none;
}

.shirtImg{
    width:90%;
    display:block;
    margin: 0 auto;
}

.iconBar{
    display:inline-block;
    font-size: large;
    color:#59ABE3;
    width:20%;
    text-align:center;
    border: 1px #59ABE3 solid;
    position: relative;
}

.iconBar:hover{
    background-color: #59ABE3;
    color: white;
}

.right{
    float: right;
}

span{
    display: inline-block;
}

.iconBar > p {
    font-size:large;
    margin:auto;
    color:#59ABE3;
}

.shirtDescription span p{
    font-size: large;
    color: #59ABE3
}

.iconBar > p:hover{
    color:white;
}

#sizesContainer:hover > p{
    color:white;
}

.sizes{
    position:absolute;
    border: 1px #59ABE3 solid;
    visibility: hidden;
    opacity: 0;
    bottom: 50px;
    left: 0;
    max-width: 100%;
}

.colors{
    position:absolute;
    border: 1px #59ABE3 solid;
   /* text-align: center; */
   /* width:20%; */
    visibility:; hidden;
    opacity: 0;
    bottom: 50px;
    left: 0;
    max-width: 100%;
}

#sizesContainer:hover > img {
  visibility: visible;
  opacity:1;
  transition: 1s all ease;
  bottom: 22px;
}

#colorsContainer:hover > img {
  visibility: visible;
  opacity:1;
  transition: 1s all ease;
  bottom: 22px;
}

@media screen and (max-width: 700px){
.shirtCol {
    display:inline-block;
    width: 40%;
    margin:1%;
   /* margin: 0 auto;*/
  }
}

@media screen and (max-width: 500px){
.shirtCol {
    display:block;
    width: 90%;
    margin: 0 auto;
  }
}

